.row
  - if @orders
    %table.table.table-hover.table-striped
      %thead
        %tr
          %th= Order.human_attribute_name(:tariff_id)
          %th= Order.human_attribute_name(:car_id)
          %th= Order.human_attribute_name(:date_of_order)
          %th= Order.human_attribute_name(:time_of_order)
          %th= Order.human_attribute_name(:departure_address)
          %th= Order.human_attribute_name(:end_address)
          %th= Order.human_attribute_name(:passengers)
          %th= Order.human_attribute_name(:distance)
      %tbody
        - @orders.each do |u|
          %tr
            %td{:data => {:label => "#{Order.human_attribute_name(:tariff_id)}"}}
              = u.tariff_id
            %td{:data => {:label => "#{Order.human_attribute_name(:car_id)}"}}
              = u.car_id
            %td{:data => {:label => "#{Order.human_attribute_name(:date_of_order)}"}}
              = u.date_of_order
            %td{:data => {:label => "#{Order.human_attribute_name(:time_of_order)}"}}
              = u.time_of_order
            %td{:data => {:label => "#{Order.human_attribute_name(:departure_address)}"}}
              = u.departure_address
            %td{:data => {:label => "#{Order.human_attribute_name(:end_address)}"}}
              = u.end_address
            %td{:data => {:label => "#{Order.human_attribute_name(:passengers)}"}}
              = u.passengers
            %td{:data => {:label => "#{Order.human_attribute_name(:distance)}"}}
              = u.distance

=form_tag(controller: :orders , action: :search) do 
  .row
    .col-md-6
      Тариф
      .form-group
        = text_field_tag(:tariff_id, '', class: 'form-control')
    .col-md-6
      Машина
      .form-group
        = text_field_tag(:car_id, '', class: 'form-control')
    .col-md-6
      Дата заказа
      .form-group
        .input-group.date.datepicker
          = text_field_tag(:date_of_order, "", class: 'form-control')
          %span.input-group-addon
            %span.glyphicon.glyphicon-calendar
    .col-md-6
      Время заказа
      .form-group
        = time_field_tag :time_of_order, '', class: 'form-control'
    .col-md-6
      Откуда
      .form-group
        = text_field_tag :departure_address, '', class: 'form-control'
    .col-md-6
      Куда
      .form-group
        = text_field_tag :end_address, '', class: 'form-control'
    .col-md-6
      Количество пассажиров
      .form-group
        = number_field_tag :passengers, '', class: 'form-control'
    .col-md-6
      Расстояние
      .form-group
        = text_field_tag :distance, '', class: 'form-control'

  .submit
    %br
    =submit_tag 'Поиск', class: 'btn btn-primary'
