= form_for @order do |f|
  - if @order.errors.any?
    #error_explanation
      %h2= "#{pluralize(@order.errors.count, "error")} prohibited this order from being saved:"
      %ul
        - @order.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :tariff
    = f.text_field :tariff
  .field
    = f.label :car
    = f.text_field :car
  .field
    = f.label :date_of_order
    = f.date_select :date_of_order
  .field
    = f.label :time_of_order
    = f.time_select :time_of_order
  .field
    = f.label :departure_address
    = f.text_field :departure_address
  .field
    = f.label :end_address
    = f.text_field :end_address
  .field
    = f.label :passengers
    = f.number_field :passengers
  .field
    = f.label :distance
    = f.text_field :distance
  .actions
    = f.submit nil, class: 'btn btn-primary'
