=breadcrumb_tag do
  %li
    = link_to 'Машины', cars_path
  %li
    Администрирование
  %li.active
    = t('app.cars.edit')
  %li
    = link_to(@car.id, @car)
    
.page-header
  %h1= t('app.cars.edit')

= render 'form'
