=breadcrumb_tag do
  %li
    = link_to 'Автомобили', cars_path
  %li
    Администрирование
  %li.active
    = @car.id
%h1
  = @car.id

%dl
  %dt= Car.human_attribute_name(:driver)
  %dd= @car.driver_id
  %dt= Car.human_attribute_name(:model)
  %dd= @car.model
  %dt= Car.human_attribute_name(:class_of_car)
  %dd= @car.class_of_car
  %dt= Car.human_attribute_name(:car_number)
  %dd= @car.car_number
  %dt= Car.human_attribute_name(:color)
  %dd= @car.color
  %dt= Car.human_attribute_name(:year)
  %dd= @car.year


